.custom-button {
  background: rgb(48, 113, 242);
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block; /* 블록 레벨 요소로 지정 */
  margin: 30px auto; /* 가로 중앙 정렬 */
  padding-left: 150px;
  padding-right: 150px;
  border: none;
}

.custom-button:hover {
  background-color: #0056b3;
}
