.search-bar {
  width: 60%;
  padding-top: 20px;
  margin-left: 50%;
  margin-right: 10px;
}

.search-button {
  background-color: #dce7fd;
  width: 16%;
  height: 10%;
  padding: 8px;
  color: #3071f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
